* {
	box-sizing: content-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #510000;
	background-image: url('images/freddy.png');
	max-width: 100%;
	height: auto;
	padding-left: 20em;
	margin: 0%;
}
audio {
	position: fixed;
	bottom: 2em;
	left: 2em;
	
}
.nightmare {
	width: 20em;
	height: 20em;
	overflow: hidden;
    background-image: url('images/nightmare.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0.25);
    transition: transform 6s, box-shadow 2s;
}
#zoom .nightmare {
	transform: scale(1);

}
.trigger {
	position: fixed;
	bottom: 1.5em;
	right: 1.5em;
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
	padding: 0;
	background-color: white;
	color: #510000;
	line-height: 1.4;
	border-radius: 50%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    transition: all 0.25s ease;
    box-shadow: 2px 2px 6px rgba(0,0,0,0);

}
.trigger:hover {
	box-shadow: 1px 1px 6px rgba(0,0,0,0.75);
}
#zoom .trigger {
	transform: rotate(135deg);
	transform-origin: center;
}
